@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  font-family: 'Quicksand', sans-serif;
}

h2 {
  font-family: 'Bad Script', cursive;
  letter-spacing: 8px;
  font-size: 56px;
  font-weight: normal;
  text-align: center;
  margin: 0;
  height: 80px;
}

@media screen and (max-width: 1080px) {
  h2 {
    font-size: 48px;
  }
}

@media screen and (max-width: 800px) {
  h2 {
    font-size: 40px;
  }
}

nav {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10;
  background: -webkit-gradient(linear, left top, left bottom, from(#2CCFEA), to(#037BD2));
  background: linear-gradient(to bottom, #2CCFEA, #037BD2);
}

@media screen and (max-width: 800px) {
  nav {
    height: 52px;
  }
}

.drawer-hamburger {
  z-index: 11 !important;
  display: none !important;
}

@media screen and (max-width: 800px) {
  .drawer-hamburger {
    display: block !important;
  }
}

.drawer-overlay {
  z-index: 4 !important;
}

.drawer-hamburger-icon {
  background-color: white !important;
}

.drawer-hamburger-icon::before {
  background-color: white !important;
}

.drawer-hamburger-icon::after {
  background-color: white !important;
}

.drawer-nav {
  z-index: 5 !important;
}

.drawer-nav a {
  color: white;
  font-size: 20px !important;
  letter-spacing: 1px;
}

.drawer-nav a:hover {
  text-decoration: none !important;
  color: white;
  opacity: 0.5 !important;
}

.navbar {
  width: 650px;
  margin: auto;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0px;
}

.navbar ul li {
  list-style: none;
  margin-right: 30px;
  letter-spacing: 1px;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 800px) {
  .navbar ul li a {
    display: none;
  }
}

.navbar ul li:nth-child(6) {
  margin: 0px;
}

.top {
  background-image: url(../img/top.jpg);
  background-size: cover;
  width: 100%;
  height: 750px;
  margin-top: 52px;
  position: relative;
  z-index: 2;
  background-position: center;
}

@media screen and (max-width: 1080px) {
  .top {
    background-image: url(../img/top2.jpg);
    height: 500px;
  }
}

@media screen and (max-width: 800px) {
  .top {
    background-image: url(../img/top.jpg);
    height: 300px;
  }
}

.top .title {
  width: 500px;
  position: relative;
  left: 240px;
  top: 180px;
}

@media screen and (max-width: 1080px) {
  .top .title {
    left: 100px;
    top: 80px;
  }
}

@media screen and (max-width: 800px) {
  .top .title {
    width: 300px;
    left: 0;
    right: 0;
    top: 40px;
    margin: auto;
  }
}

.top h1 {
  color: white;
  font-family: 'Bad Script', cursive;
  font-size: 160px;
  font-weight: normal;
  margin: 0;
  letter-spacing: 5px;
  height: 210px;
}

@media screen and (max-width: 1080px) {
  .top h1 {
    font-size: 120px;
    height: 160px;
  }
}

@media screen and (max-width: 800px) {
  .top h1 {
    font-size: 70px;
    height: 100px;
    text-align: center;
  }
}

.top p {
  color: white;
  font-family: 'Bad Script', cursive;
  font-size: 55px;
  margin: 0;
}

@media screen and (max-width: 1080px) {
  .top p {
    font-size: 35px;
  }
}

@media screen and (max-width: 800px) {
  .top p {
    font-size: 24px;
    text-align: center;
  }
}

#about {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  z-index: 2;
  background-color: #fff;
}

.about-Span {
  position: relative;
  z-index: 1;
}

.about-Span:after {
  content: '';
  position: absolute;
  left: 55px;
  bottom: 20px;
  width: 0%;
  height: 1.5px;
  background: #2CCFEA;
  z-index: -1;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

@media screen and (max-width: 800px) {
  .about-Span:after {
    left: 40px;
    bottom: 15px;
  }
}

.about-Span.isActive:after {
  width: 48%;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 1000px;
  margin: auto;
}

@media screen and (max-width: 1080px) {
  .about {
    width: 750px;
  }
}

@media screen and (max-width: 800px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.about .aboutimg {
  width: 200px;
  margin: auto;
  margin-top: 30px;
}

.about .aboutimg img {
  border-radius: 50%;
  width: 300px;
  height: 295px;
}

@media screen and (max-width: 1080px) {
  .about .aboutimg img {
    width: 200px;
    height: 195px;
  }
}

.about .abouttext {
  margin-left: 100px;
}

@media screen and (max-width: 1080px) {
  .about .abouttext {
    margin-left: 80px;
  }
}

@media screen and (max-width: 800px) {
  .about .abouttext {
    margin-left: 80px;
  }
}

.about .abouttext p {
  letter-spacing: 1px;
  line-height: 27px;
  font-family: "Sawarabi Gothic";
}

@media screen and (max-width: 1080px) {
  .about .abouttext p {
    letter-spacing: .5px;
    font-size: 14px;
    line-height: 24px;
  }
}

@media screen and (max-width: 800px) {
  .about .abouttext p {
    font-size: 12px;
    text-align: left;
  }
}

.swiper-container {
  position: relative !important;
  z-index: 3 !important;
}

.swiper-slide {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-color: transparent !important;
  background-position: 50% 50% !important;
  background-image: url(../img/about.jpg);
  height: 700px !important;
  min-height: 700px !important;
}

@media screen and (max-width: 1080px) {
  .swiper-slide {
    height: 500px !important;
    min-height: 500px !important;
  }
}

.swiper-slide > div {
  position: absolute;
  top: 250px;
  right: 800px;
  z-index: 3;
}

@media screen and (max-width: 1080px) {
  .swiper-slide > div {
    top: 150px;
    right: 400px;
  }
}

@media screen and (max-width: 800px) {
  .swiper-slide > div {
    top: 50px;
    left: 0px;
    width: 300px;
    margin-left: 25%;
  }
}

.swiper-slide > div .menutitle {
  color: white;
  font-size: 40px;
  margin: 0;
  margin-bottom: 10px;
}

@media screen and (max-width: 1080px) {
  .swiper-slide > div .menutitle {
    font-size: 30px;
  }
}

@media screen and (max-width: 800px) {
  .swiper-slide > div .menutitle {
    font-size: 24px;
  }
}

.swiper-slide > div .menudesc {
  color: white;
  font-size: 20px;
  margin: 0;
  font-family: "Sawarabi Gothic";
  letter-spacing: 1px;
}

@media screen and (max-width: 1080px) {
  .swiper-slide > div .menudesc {
    font-size: 14px;
  }
}

@media screen and (max-width: 800px) {
  .swiper-slide > div .menudesc {
    font-size: 12px;
  }
}

.swiper-slide img {
  position: absolute;
  z-index: 2;
  top: 64px;
  right: 200px;
}

@media screen and (max-width: 1080px) {
  .swiper-slide img {
    width: 300px;
    height: 400px;
    right: 80px;
  }
}

@media screen and (max-width: 800px) {
  .swiper-slide img {
    width: 250px;
    height: 300px;
    left: 0px;
    top: 150px;
    margin-left: 25%;
  }
}

.swiper-slide::before {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
  z-index: 2;
}

.swiper-button-next {
  background-image: url(../img/arrow.png) !important;
}

.swiper-button-prev {
  background-image: url(../img/arrow2.png) !important;
}

.swiper-pagination-bullet-active {
  background-color: red !important;
}

.recommend {
  padding-top: 100px;
  padding-bottom: 50px;
  position: relative;
  z-index: 2;
  background-color: white;
}

.reco-Span {
  position: relative;
  z-index: 1;
}

.reco-Span:after {
  content: '';
  position: absolute;
  left: 96px;
  bottom: 16px;
  width: 0%;
  height: 1.5px;
  background: #2CCFEA;
  z-index: -1;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

@media screen and (max-width: 800px) {
  .reco-Span:after {
    left: 80px;
    bottom: 8px;
  }
}

.reco-Span.isActive:after {
  width: 56%;
}

.recocontents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 500px;
  margin: auto;
  margin-top: 50px;
}

@media screen and (max-width: 800px) {
  .recocontents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .recocontents > div {
    margin: auto !important;
  }
}

.recocontents > div:nth-child(1) {
  margin-right: 100px;
}

.recocontents > div:nth-child(3) {
  margin: auto;
}

.recocontents p {
  font-family: "Sawarabi Gothic";
  text-align: center;
}

.recocontents img {
  border-radius: 50%;
}

.recocontents .sa {
  opacity: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.recocontents .sa.show {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.recocontents .sa--rotateR {
  -webkit-transform: rotate(-1440deg);
          transform: rotate(-1440deg);
}

#party {
  height: 360px;
}

#party .filter {
  background-color: #000;
  position: relative;
  z-index: 1;
  position: fixed;
  top: 0px;
}

#party img {
  display: block;
  opacity: .7;
}

#party .plan {
  position: relative;
  z-index: 2;
  top: 120px;
}

#party .plan h2 {
  color: white;
}

#party .plan .party-Span {
  position: relative;
  z-index: 1;
}

#party .plan .party-Span:after {
  content: '';
  position: absolute;
  left: 84px;
  bottom: 10px;
  width: 0%;
  height: 1.5px;
  background: #2CCFEA;
  z-index: -1;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

@media screen and (max-width: 800px) {
  #party .plan .party-Span:after {
    left: 65px;
    bottom: 5px;
  }
}

#party .plan .party-Span.isActive:after {
  width: 56%;
}

#party .plan div {
  width: 200px;
  margin: auto;
}

#party .plan div button {
  width: 200px;
  margin: auto;
  height: 50px;
  border-radius: 20px;
  border: none;
  background-color: rgba(255, 0, 0, 0.904);
  position: relative;
  top: 30px;
}

#party .plan div button a {
  text-decoration: none;
  font-size: 24px;
  font-family: "Sawarabi Gothic";
  color: white;
}

#access {
  padding-top: 100px;
  padding-bottom: 20px;
  position: relative;
  z-index: 3;
  background-color: white;
}

#access .access-Span {
  position: relative;
  z-index: 1;
}

#access .access-Span:after {
  content: '';
  position: absolute;
  left: 42px;
  bottom: 16px;
  width: 0%;
  height: 1.5px;
  background: #2CCFEA;
  z-index: -1;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

@media screen and (max-width: 800px) {
  #access .access-Span:after {
    left: 32px;
  }
}

#access .access-Span.isActive:after {
  width: 66%;
}

#access p {
  text-align: center;
  font-family: "Sawarabi Gothic";
  font-size: 20px;
  letter-spacing: 1px;
  margin-top: 30px;
}

@media screen and (max-width: 800px) {
  #access p {
    font-size: 16px;
  }
}

#access .gmap {
  height: 0;
  overflow: hidden;
  padding-bottom: 30%;
  position: relative;
  margin-left: 24%;
}

@media screen and (max-width: 800px) {
  #access .gmap {
    margin-left: 12%;
  }
}

#access .gmap iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 80%;
  width: 70%;
}

@media screen and (max-width: 800px) {
  #access .gmap iframe {
    height: 90%;
    width: 88%;
  }
}

#contact {
  position: relative;
  z-index: 2;
  background-color: #eee7e7;
  padding-top: 50px;
  /* Twitter */
  /* Facebook */
  /* Instagramオレンジグラデ背景 */
  /* ボタン内テキスト調整 */
  /* ボタンマウスホバー時 */
  /* ulタグの内側余白を０にする */
  /* ボタン全体の位置調整 */
  /* ボタン同士の余白調整 */
}

#contact .contact-Span {
  position: relative;
  z-index: 1;
}

#contact .contact-Span:after {
  content: '';
  position: absolute;
  left: 65px;
  bottom: 16px;
  width: 0%;
  height: 2px;
  background: #2CCFEA;
  z-index: -1;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

@media screen and (max-width: 800px) {
  #contact .contact-Span:after {
    left: 48px;
  }
}

#contact .contact-Span.isActive:after {
  width: 56%;
}

#contact > div {
  width: 600px;
  height: 200px;
  padding-top: 50px;
  margin: auto;
}

@media screen and (max-width: 800px) {
  #contact > div {
    width: 300px;
  }
}

#contact .flowbtn {
  font-family: 'Arial',sans-serif;
  /* 好きなフォントを指定してね */
  border-radius: 4px;
  position: relative;
  display: inline-block;
  width: 66px;
  height: 58px;
  font-size: 30px;
  color: #fff !important;
  -webkit-transition: .5s;
  transition: .5s;
  text-decoration: none;
  -webkit-box-shadow: 0 1px 2px #999;
          box-shadow: 0 1px 2px #999;
}

#contact .flowbtn i {
  position: relative;
  top: 5px;
}

#contact .fl_tw1 {
  background: #55acee;
}

#contact .fl_fb1 {
  background: #3b5998;
}

#contact .fl_ma1 {
  background: #f3981d;
}

#contact .insta_btn1 {
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  overflow: hidden;
}

#contact .insta_btn1:before {
  content: '';
  position: absolute;
  top: 30px;
  left: -20px;
  width: 80px;
  height: 50px;
  background: radial-gradient(#ffdb2c 5%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
}

#contact .flowbtn div {
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0;
  position: relative;
  bottom: -5px;
}

#contact .flowbtn:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  text-decoration: none;
}

#contact ul.snsbtniti {
  padding: 0 !important;
}

#contact ul.snsbtniti li {
  list-style: none;
}

#contact .snsbtniti {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#contact .snsbtniti li {
  text-align: center !important;
}

#help {
  position: relative;
  z-index: 2;
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}

#help h2 {
  font-family: "Sawarabi Gothic";
}

#help .help-Span {
  position: relative;
  z-index: 1;
}

#help .help-Span:after {
  content: '';
  position: absolute;
  left: 112px;
  bottom: -8px;
  width: 0%;
  height: 2px;
  background: #2CCFEA;
  z-index: -1;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

@media screen and (max-width: 800px) {
  #help .help-Span:after {
    left: 88px;
  }
}

#help .help-Span.isActive:after {
  width: 56%;
}

#help div {
  margin-top: 60px;
}

#help img {
  border-radius: 30px;
  width: 50%;
  margin-left: 25%;
}

@media screen and (max-width: 800px) {
  #help img {
    width: 70%;
    margin-left: 15%;
  }
}

#help p {
  font-family: "Sawarabi Gothic";
  text-align: center;
  font-size: 24px;
}
/*# sourceMappingURL=style.css.map */